/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    padding: 5px 10px;
    color: #fff;
}

/* utility */
header{
    background-color: chocolate;
}
.container{
    width: 80%;
    margin: auto;
}
.icon{
    margin: 0 10px;
    color: #fff;
}

/* header */
.header-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px 0;
}
.nav{}
.header-logo{}
.header-icon{
    display: flex;

}

/* main */

